.App {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: navy;
}
